<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="hakkimda content">
            <h2><%= hakkimda %></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit assumenda quia illo deleniti obcaecati, amet sint modi quo quisquam
                voluptas ipsam explicabo, sed aliquam officiis earum dolor consectetur minima cumque.
            </p>
        </div>
    </body>
</html>
